<footer class="bg-dark py-4">
  <div class="container text-center">

    <!-- Navigation Links -->
    <ul class="nav justify-content-center pb-2 mb-3">
      <li class="nav-item">
        <a href="/" class="nav-link px-2 text-white">Home</a>
      </li>
      <li class="nav-item">
        <a href="/contact" class="nav-link px-2 text-white">Contact</a>
      </li>
    </ul>
    <!-- Divider Line -->
    <hr class="my-3" style="color:white">
    <!-- Copyright -->
    <p class="text-white mb-0">
      © 2026 Maqsolar, Inc
    </p>

  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>