<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../head') %>
        <title>Document</title>
</head>

<body>
    <div class="container fluid">
        <main class="col-md-9 col-lg-10 p-4">
                <a href="/auth/register">Register as an Operator</a>
                
        </main>
        </div>
    </div>
</body>

</html>